<div id="home" class="big-bg">

  <header class="page-header wrapper">
      <h1>
          <a href="index.html"><img class="logo" src="../../assets/images/Group 4.png" alt="WCB Cafe 首頁"></a>
      </h1>
      <nav>
          <ul class="main-nav">
              <li><a href="/#/attractions">台灣景點</a></li>
              <li><a href="/#/cuisines">美食住宿</a></li>
              <li><a href="/#/transport">景點交通</a></li>
          </ul>
      </nav>

  <!-- <div class="wrapper">
      <h2 class="page-title">News</h2>
  </div> -->
  </header>

  <img src="../../assets/images/not-bad.jpg" alt="" srcset="">

</div>
