.logo{
  max-width: 99px;
  // position: absolute;
  left: 8.44%;
  right: 83.83%;
  top: 27.88%;
  bottom: 17.31%;
}

.main-nav{
  display:flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  white-space: nowrap;
}

.main-nav li{
  display: flex;
  flex-direction: row;
  justify-content: content;
  // margin-right: 22%;
}

.main-nav a{
  color:#432;
}

.main a:hover{
  color: #0bd;
}

.page-header{
  display: flex;
  justify-content: space-between;
}


.wrapper{
  max-width: 1280px;
  margin: 0 auto;
  // padding-top: 10%;
}

#lbAttractions{
  color:#FF1D6C
}

#lbCuisines{
  color:#FFB72C
}

#lbTranspot{
  color:#007350
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
.main-nav label{
  font-family: 'Noto Sans TC', sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
}


/*Main Content*/
.home-content{
  color: #FFF;
  text-align: center;
  // margin-top: 10%;
  padding-top: 16%;
}

.home-content p{
  font-style: 1.125rem;
  margin: 10px 0 42px;

}

.home-content span{
  color: #FF1D6C
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/*標題*/
.page-title{
  font-size:5rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.button{
  font-size: 5rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover{
  background: #0090aa;
}


.home-content{
  background-image: url('../../assets/images/attractions-banner.png');
  // min-height: 100vh;
  min-height: 536px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

#home .page-title{
  text-transform: none;
  text-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}


#searchKeyword{
  // position: absolute;
  width: 445px;
  height: 40px;
  // left: 395px;
  // top: 394px;
  background-color: #FFF;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
  border-radius: 6px;
  padding-left: 2%;
}

#selCategory,
#selCity{
  color:#0D0B0C;
  width: 219px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
  border-radius: 6px;
  padding: 8px 16px 16px 16px
}



/*下拉式選單 箭頭樣式*/
.pretty-select {
  /*移除箭頭樣式*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*改變右邊箭頭樣式*/
  background: url('../../assets/images/arrow-down.png') no-repeat right center transparent;

  border:0px;
  width:100%;
  height:34px;
  padding-left:2px;
  padding-right:40px;
  background-color:#F6F7F7;
  color:gray;
}

/*IE隱藏箭頭樣式*/
.pretty-select::-ms-expand {
  display: none;
}

.pretty-select:focus{
  box-shadow: 0 0 5px 2px #467BF4;
}


/**/
// .functionArea{
//   display: flex;
//   justify-content: center;
//   flex-direction: row;
// }

