<div id="home" class="big-bg">

  <header class="page-header wrapper">
      <h1>
          <a href="/#">
            <img class="logo" src="../../assets/images/Group 4.png" alt="台灣旅遊景點導覽 首頁">
          </a>
      </h1>
      <nav>
          <ul class="main-nav">
              <li>
                <a href="/#/attractions">
                  <img src='../../assets/images/taiwan-attractions.png'>
                  <label id='lbAttractions'>台灣景點</label>
                </a>
              </li>
              <li>
                <a href="/#/cuisines">
                  <img src='../../assets/images/taiwan-cuisines.png'>
                  <label id='lbCuisines'>美食住宿</label>
                </a>
              </li>
              <li>
                <a href="/#/transport">
                  <img src='../../assets/images/taiwan-transport.png'>
                  <label id='lbTranspot'>景點交通</label>
                </a>
              </li>
          </ul>
      </nav>

  </header>

  <div class="home-content wrapper">
    <h2 class="page-title">Welcome to <span>Taiwan°</span></h2>
    <p>台北、台中、台南、屏東、宜蘭……遊遍台灣</p>

    <div style="display: flex; flex-direction: row; justify-content: center;">
      <input type="text" name="searchKeyword" id="searchKeyword" placeholder="搜尋關鍵字">
      <button>
        <img src="../../assets/images/search.png" alt="" srcset="">
      </button>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: center;">
      <select name="" id="selCategory" class="pretty-select">
        <option>類別</option>
      </select>
      <select id="selCity"  class="pretty-select" style="margin-left: 0.4%;">
        <option value="">不分縣市</option>
      </select>
      <button>
        <img src="../../assets/images/position.png" alt="" srcset="">
      </button>
    </div>

  </div>

</div>
