@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

footer{
  font-family: 'Roboto', sans-serif;
  color: #ACACAC;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  // position: absolute;
  max-width: 1280px;
  // height: 65px;
  left: 0px;
  // top: 1980px;

  /* white */

  background: #FFFFFF;
}
