<div id="home" class="wrapper" [style.background-image]="displayBanner">

  <header style="display: flex; flex-direction: row; justify-content: flex-start;" class="page-header ">
    <a href="/the-f2e-week1/#/travel-list">
      <img class="logo" src="assets/images/logo.png" alt="台灣旅遊景點導覽 首頁">
    </a>
    <div style='display: flex;flex-direction: column; justify-content: center;'>
      <label id='title'>TaiFun旅遊網</label>
    </div>
  </header>

  <div class="home-content">
    <div style="display: flex; flex-direction: row; justify-content:center;"  class="page-title">尋找臺灣</div>
    <div style="display: flex; flex-direction: row; justify-content: center;" class="page-category"><p>景點、美食、活動</p></div>
    <div style="display: flex; flex-direction: row; justify-content: center;">
      <input type="text"
      name="searchKeyword"
      id="searchKeyword"
      placeholder="&#xF002;請輸入關鍵字"
      style="font-family:Arial, FontAwesome"  >
      <!-- <img src="assets/images/magnifier.png" alt=""> -->
      <div>

        <button id='btnFilter' class="main-btn">
          <img src='assets/images/filter.png'>      篩選
        </button>
      </div>
    </div>
    <button id='btnSearch' class="main-btn">搜尋</button>
    <select name="" id="selCity"  >
      <option value=""></option>
      <option  value="臺北市">Taipei</option>
      <option value="NewTaipei">新北市</option>
      <option value="Taichung">臺中市</option>
    </select>
  </div>

</div>
