<div id="home" class="wrapper" [style.background-image]="displayBanner">

  <header style="display:flex; flex-direction: row; justify-content: flex-start;" class="page-header">
    <a href="/the-f2e-week1/#/travel-list">
      <img id='imgLogo' class="logo" src="assets/images/TaiFunLogo.png" alt="台灣旅遊景點導覽 首頁">
      <img id='m-imgLogo' class="logo" src="assets/images/M-TaiFunLogo.png" alt="台灣旅遊景點導覽 首頁">
    </a>
    <label id='logoTitle' for="">TaiFun旅遊網</label>

  </header>

  <div class="home-content">
    <div style="display: flex; flex-direction: row; justify-content:center;"  class="page-title">尋找臺灣</div>
    <div style="display: flex; flex-direction: row; justify-content: center;" class="page-category"><p>景點、美食、活動</p></div>
    <div style="display: flex; flex-direction: row; justify-content: center;">
      <input type="search"
      name="searchKeyword"
      id="searchKeyword"
      placeholder="&#xF002;請輸入關鍵字"
      (keyup.enter)="searchByKeyword(inputKeyword)"
      (search)="searchByKeyword(inputKeyword)"
      style="font-family:Arial, FontAwesome"
      [formControl]="seacrchingInputControl">
      <!-- <img src="assets/images/magnifier.png" alt=""> -->
      <div id='btnFilter'>
        <button (click)="openDialog()">
          <img class='dFilter' src='assets/images/filter.png'>
          <img class='mFilter' src='assets/images/m-filter.png'>
        </button>
      </div>
    </div>
    <!-- <div style="display: flex; flex-direction: row; justify-content: center;">
      <mat-form-field appearance="fill">
        <input matInput placeholder="請輸入關鍵字" name="searchKeyword" [formControl]="seacrchingInputControl"
        id="searchKeyword">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div> -->
    <!-- <button id='btnSearch' class="main-btn" (keyup.enter) (click)="searchByKeyword(inputKeyword)">搜尋</button> -->
    <input id='btnSearch'
    class="main-btn"
    (click)="searchByKeyword(inputKeyword)"
      type="button" value="搜尋">
    <select name="" id="selCity"  >
      <option value=""></option>
      <option  value="臺北市">Taipei</option>
      <option value="NewTaipei">新北市</option>
      <option value="Taichung">臺中市</option>
    </select>
  </div>

</div>
