#imgLogo{
  display: block;
  margin-left: 57px;
  margin-top: 39px;
}

#m-imgLogo{
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
#logoTitle{
  margin-left: 14px;
  margin-top: 62px;
  font-family: 'Viga', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;

  color: #FFFFFF;
  border: 0px solid #2F798C;
}

.wrapper{
  // background-image: url('../../../assets/images/home-banner.png');
  min-width: 100%;
  min-height: 580px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.subTitle{
  // position: absolute;
  width: 128px;
  height: 38px;
  // left: 101px;
  // top: 635px;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;

  color: #2F798C;
}

/*Main Content*/
.home-content{
  max-width: 100%;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  // margin-top: 10%;
  // padding-top: 16%;
}
@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);

.home-content p{
  font-style: 1.125rem;
  margin: 10px 0 42px;

  // position: absolute;
  max-width: 256px;
  height: 38px;
  // left: 592px;
  // top: 241px;

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;

  color: #FEFEFE;
}

.home-content span{
  color: #FF1D6C
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/*標題*/
.page-title{
  font-size: 42px;
  font-family: "SF Pro Text", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  // position: absolute;
  // width: 168px;
  height: 50px;
  // left: 636px;
  // top: 166px;
}

.page-header{
  display: flex;
  justify-content: space-between;

  max-width: 100%;
  margin: 0 auto;
}


#home .page-title{
  text-transform: none;
  text-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
}


#searchKeyword{
  font-size: 24px;
  width: 445px;
  height: 40px;
  // left: 395px;
  // top: 394px;
  background-color: #FFF;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
  border-radius: 6px;
  padding-left: 2%;

  // position: absolute;
  width: 677px;
  height: 68px;
  left: 285px;
  top: 314px;

  background: #FEFEFE;
  border-radius: 20px;
}


#btnFilter{
  background: #2F798C;
  border-radius: 100px;
  // width: 170px;
  // height: 68px;
  cursor: pointer;
}



#btnSearch{
  margin-top: 60px;
  font-size: 22px;
  width: 219px;
  height: 68px;
  left: 611px;
  top: 442px;

  background: #2F798C;
  border-radius: 100px;
}

.mFilter{
  display: none;
}

.dFilter{
  display:inline;
}

@media screen and (max-width: 768px) {
  .wrapper{
    // background-image: url('../../../assets/images/home-banner.png');
    min-width: 100%;
    min-height: 311px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #btnFilter{
    background: #2F798C;
  border-radius: 100px;
  width: 6px;
  height: 6px;
  }

  #searchKeyword{
    width: 258px;
    height: 42px;
    font-size: 14px;
  }
  #btnSearch{
    display: none;
  }

  .dFilter{
    display: none;
  }

  .mFilter{
    display: block;
  }

  #imgLogo{
    display: none;
  }

  #m-imgLogo{
    display: block;
    margin-left: 11px;
    margin-top: 27px;
  }

  #logoTitle{
    margin-left: 4px;
    margin-top: 38px;

    font-family: 'Viga';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
    border: 0px solid #2F798C;
  }

  .home-content{
    max-width: 100%;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    margin-top: 44px;
  }

}
