html{
  font-size: 100%;
}

body{
  font-family: sans-serif;
  line-height: 1.7;
  color:#432;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4
}

