<div class='container'>
  <header style="background-color:#FFF; display: flex; flex-direction: row; justify-content: flex-start;" class="page-header ">
    <a href="/the-f2e-week1/#/travel-list">
      <img class="logo" src="assets/images/logo.png" alt="台灣旅遊景點導覽 首頁">
    </a>
  </header>
  <hr>
  <div id='detailInfo' *ngFor="let item of detailData">
    <div id='detailInfoArea'>
      <h1>{{ item.Name }}</h1>
      <p id='category'>{{ item.Class1}}</p>
    </div>
    <div id='detailMain'>
      <div>
      <img [src]="item.Picture.PictureUrl1"  alt="">
      </div>
      <div id='detalMainInfo'>
        <h1>資訊</h1>
        <br>
        <h2>電話：</h2>
        <p>{{ item.Phone  }}
          <a href=""><img src="assets/images/copy.png" alt=""></a>
          <a href=""><img src="assets/images/phone.png" alt=""></a>
        </p>
        <br>
        <h2>地址：</h2>
        <p>{{ item.Address  }}
          <a href=""><img src="assets/images/position.png" alt=""></a>
        </p>
        <br>
        <h2>開放時間：</h2>
        <p>{{ item.OpenTime  }}</p>
      </div>
    </div>
  </div>

  <div id='detailIntro' *ngFor="let item of detailData">
    <br>
    <div>
      <h1>介紹</h1>
      <p>{{ item.Description  }}</p>
    </div>
    <br>
    <h1>景點地圖</h1>
    <h4 style='color:grey'>點擊以下按鈕搜尋</h4>
    <br>
    <div class='iconArea'>
      <img src="assets/images/near-accommodation.png" alt="">
      <img src="assets/images/near-resturaunt.png" alt="">
      <img src="assets/images/near-activities.png" alt="">
    </div>
    <div class='mIconArea'>
      <img src="assets/images/near-accommodation-m.png" alt="">
      <img src="assets/images/near-resturaunt-m.png" alt="">
      <img src="assets/images/near-activities-m.png" alt="">
    </div>
    <!-- <div class='googleMap'>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1807.1679157587284!2d121.50811535820573!3d25.056604175777462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a916b8f1119d%3A0x296f9a5c85b9c7e8!2z5aSn56i75Z-V56K86aCt!5e0!3m2!1szh-TW!2stw!4v1636650252109!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div> -->

    <div id='detailContact'>

      <div class='googleMap'>
        <iframe
          src= "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3269.587744406794!2d135.77265191541818!3d34.96694007641959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60010f14384c5a19%3A0x5d22970f58bfde17!2z5LyP6KaL56i76I235aSn56S-IOWNg-acrOmzpeWxhQ!5e0!3m2!1szh-TW!2stw!4v1634718270716!5m2!1szh-TW!2stw"
          width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

      <div id='cardDetailInfo'>
        <div class='card'>
          <div class='imgArea'>
            <img src="assets/images/art-gallery.png" alt="" srcset="">
          </div>
          <div class='card-position'>
            <label for="">
              <img src="assets/images/google-position.png">
              臺北市 中山區
            </label>
          </div>
          <div class='card-title'>臺北市立美術館</div>
          <div class='card-phone'>電話</div>
          <div class='card-address'>地址: 臺北中山區中山北路三段181號</div>
          <div class='card-open-time'>開放時間</div>
          <div class='card-mark'>08:00-20:00</div>
          <div class='card-detail'><a href="/the-f2e-week1/#/travel-list/detail?param1=hallo&param2=123"><button>查看詳情</button></a></div>
        </div>
      </div>

    </div>
  </div>
</div>
