<app-travel-header [bgBanner]="'travel-list'"></app-travel-header>


<!--熱門景點 區塊-->
<div class="nowrap">
  <label class="subTitle">
    熱門景點
  <img src="assets/images/fire.png" alt="" srcset="">
  </label>
</div>
<div class="detail-attractions-info">

  <div class='card' *ngFor="let item of destinationDatas; let idx = Index">
    <div class='imgArea'>
      <img [src]="item.Picture.PictureUrl1" alt="" srcset="">
    </div>
    <div class='card-position'>
      <label for="">
        {{item.City}}
        <img src="assets/images/google-position.png">
      </label>
    </div>
    <div class='card-title'>{{ item.Name }}</div>
    <div class='card-open-time'>開放時間</div>
    <div class='card-mark'>{{ item.OpenTime}}</div>
    <div class='card-detail'><button>查看詳情</button></div>
  </div>

</div>
<div class='more-attractions'>
  <a href="/#/popular-destination"><button>看更多熱門景點</button></a>
</div>


<!--熱門美食 區塊-->
<div class="nowrap">
  <label class="subTitle">
    熱門美食
  <img src="assets/images/restaurant.png" alt="" srcset="">
  </label>
</div>
<div class="detail-food-info">

  <div class='card' *ngFor="let item of foodDatas; let idx = Index">
    <div class='imgArea'>
      <img [src]="item.Picture.PictureUrl1" style="max-width: 100%; ">
    </div>
    <div class='card-position'>
      <label for="">
        {{item.City}}
        <img src="assets/images/google-position.png" alt="" srcset="">
      </label>
    </div>
    <div class='card-title'>{{ item.Name }}</div>
    <div class='card-open-time'>開放時間</div>
    <div class='card-mark'>{{ item.OpenTime}}</div>
    <div class='card-detail'><button>查看詳情</button></div>
  </div>

</div>
<div class='more-attractions'>
  <a href="/#/popular-food"><button>看更多熱門美食</button></a>
</div>


<!--近期活動 區塊-->
<div class="nowrap">
  <label class="subTitle">
    近期活動
  <img src="assets/images/event.png" alt="" srcset="">
  </label>

</div>
<div class="detail-activities-info">

  <div class='card' *ngFor="let item of activitiesDatas; let idx = Index">
    <div class='imgArea'>
      <img [src]="item.Picture.PictureUrl1" style="max-width: 100%; ">
    </div>
    <div class='card-position'>
      <label for="">
        {{item.City}}
        <img src="assets/images/google-position.png" alt="" srcset="">
      </label>
    </div>
    <div class='card-title'>{{ item.Name }}</div>
    <div class='card-open-time'>活動時間</div>
    <div class='card-mark'>{{ item.OpenTime}}</div>
    <div class='card-detail'><button>查看詳情</button></div>
  </div>

</div>
<div class='more-attractions'>
  <a href="/#/recent-activities"><button>看更多近期活動</button></a>
</div>
