<div id="home" class="big-bg">

  <header class="page-header wrapper">
      <h1 style="display: flex; flex-direction: row; justify-content: flex-start;">
          <a href="/#">
            <img class="logo" src="../../../assets/images/logo.png" alt="台灣旅遊景點導覽 首頁">
          </a>
          <label id='title'>TaiFun旅遊網</label>
      </h1>
  </header>

  <div class="home-content wrapper">
    <h2 class="page-title">尋找臺灣</h2>
    <p>景點、美食、活動</p>
    <div style="display: flex; flex-direction: row; justify-content: center;">
      <input type="text" name="searchKeyword" id="searchKeyword" placeholder="請輸入關鍵字">
      <button class="main-btn">篩選</button>
    </div>
    <div>
      <button class="main-btn">搜尋</button>
    </div>
  </div>

</div>
