<div>

  <div mat-dialog-content>
    <div id='travelCategory'>
      <h1>分類</h1>
      <mat-form-field appearance="fill">
        <mat-select [formControl]="categoryControl" required>
          <mat-option>分類</mat-option>
          <mat-option *ngFor="let item of categoryList" [value]="item">
            {{item.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryControl.hasError('required')">Please choose an animal</mat-error>
        <!-- <mat-hint>{{categoryControl.value?.name}}</mat-hint> -->
      </mat-form-field>
    </div>
    <div id='travelArea'>

      <h1>北部地區</h1>
      <mat-form-field appearance="fill">
        <mat-select [formControl]="taipeiControl" required>
          <mat-option>選擇縣市</mat-option>
          <mat-option *ngFor="let item of taipeiList" [value]="item">
            {{item.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taipeiControl.hasError('required')">Please choose an animal</mat-error>
        <!-- <mat-hint>{{taipeiControl.value?.name}}</mat-hint> -->
      </mat-form-field>

      <h1>中部地區</h1>
      <mat-form-field appearance="fill">
        <mat-select [formControl]="centralControl" required>
          <mat-option>選擇縣市</mat-option>
          <mat-option *ngFor="let item of centralList" [value]="item">
            {{item.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="centralControl.hasError('required')">Please choose an animal</mat-error>
        <!-- <mat-hint>{{taipeiControl.value?.name}}</mat-hint> -->
      </mat-form-field>

      <h1>南部地區</h1>
      <mat-form-field appearance="fill">
        <mat-select [formControl]="southControl" required>
          <mat-option>選擇縣市</mat-option>
          <mat-option *ngFor="let item of southList" [value]="item">
            {{item.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="southControl.hasError('required')">Please choose an animal</mat-error>
        <!-- <mat-hint>{{taipeiControl.value?.value}}</mat-hint> -->
      </mat-form-field>

      <h1>東部地區</h1>
      <mat-form-field appearance="fill">
        <mat-select [formControl]="eastControl" required>
          <mat-option>選擇縣市</mat-option>
          <mat-option *ngFor="let item of eastList" [value]="item">
            {{item.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="eastControl.hasError('required')">Please choose an animal</mat-error>
        <!-- <mat-hint>{{taipeiControl.value?.name}}</mat-hint> -->
      </mat-form-field>

      <h1>離島地區</h1>
      <mat-form-field appearance="fill">
        <mat-select [formControl]="outIslandControl" required>
          <mat-option>選擇縣市</mat-option>
          <mat-option *ngFor="let item of outIslandList" [value]="item">
            {{item.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="outIslandControl.hasError('required')">Please choose an animal</mat-error>
        <!-- <mat-hint>{{taipeiControl.value?.name}}</mat-hint> -->
      </mat-form-field>
    </div>
    <br>
  </div>
  <div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
    <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
    <button mat-button  id='btnSearch' class="main-btn" (click)="searchByKeyword('inputKeyword')">搜尋</button>
  </div>
</div>




<!-- Copyright 2021 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
